*{
    padding: 0;
    margin: 0;
}
body{
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 1vh;
    margin-bottom: 3vh;
}
.coding-frame{
    border: 2px solid black;
    width: 80vh;
    height: 25vh;
    margin-top: 3vh;
}
.result{
    border: 2px solid black;
    width: 80vh;
    height: 25vh;
    margin-top: 3vh;
    word-wrap: break-word;
}
.top-button{
    display: flex;
    align-items: center;
}
.top-button button{
    padding: 1px 5px 1px 5px;
    margin: 0 2px 0 2px; 
}
.progressbar-area{
    margin-top: 3vh;
    width: 100%;
    height: 1vh;
    background: rgb(204, 204, 204);
    border: 1px solid black;
   border-radius: 20px;
} 
.progress-bar{
    width: 0;
    height:100%;
    
}
.width{
    width: 40%;
}
#mouse-move {
    display: none;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 50%;
    border-top: 2px solid rgb(124, 124, 124);
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
    left:50%;
    top:40%
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

.dark{
    border: 1px solid rgb(243, 243, 243);
    background: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
}
.dark2{
    background: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
}
label{
    font-size: 20px;
    margin-left: 5px;
}
.the-dark-mode{
     border: 1px solid black;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 3vh;
}
.popup{
    width: 30vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 7vh;
    margin-left: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    font-weight: 700;
    
    font-size: 18px;
}
.end{
    display: none;
}
.thenone{
    display: flex;
    justify-content: flex-end;
}
